<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thehandsome.app.mapper.BrandMapper">
	<select id="selectAllBrands" resultType="brandDTO"><!--dto타입 풀로쓰지않고 alias로 짧게 사용가능  -->
		SELECT bcode, bname
		FROM BRAND
	</select>
	
	<select id="selectTest" resultType="Integer">
		SELECT 1
		FROM DUAL
	</select>
</mapper>