<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thehandsome.app.mapper.CartMapper">

<!-- 미림 맴버가 상품 장바구니에 담았는지 확인 -->
    <select id="getMemberProductCart" parameterType="CartDTO"
      resultType="CartDTO">
      SELECT *
      FROM cart
      WHERE mno = #{mno}
      AND pcode = #{pcode}
      AND pcolor = #{pcolor}
   </select>

   <insert id="insertProduct" parameterType="CartDTO">
      INSERT INTO
      cart(cartno, pcolor, psize, pamount, mno, pcode)
      VALUES(cart_seq.nextval, #{pcolor}, #{psize}, #{pamount}, #{mno}, #{pcode})
   </insert>

   <update id="updateProduct" parameterType="CartDTO">
      UPDATE cart
      SET
      pcolor = #{pcolor},
      pamount = #{pamount},
      psize = #{psize}
      WHERE cartno = #{cartno}
   </update>

   <delete id="deleteProduct" parameterType="int">
      DELETE FROM cart
      WHERE cartno = #{cartno}
   </delete>

   <select id="selectProductNo" parameterType="CartDTO"
      resultType="int">
      SELECT cartno
      FROM cart
      WHERE mno = #{mno}
      AND pcolor = #{pcolor}
      AND psize = #{psize}
      UNION ALL
      SELECT -1 as cartno
      FROM dual
      WHERE NOT EXISTS( SELECT cartno
                        FROM cart
                        WHERE mno = #{mno}
                        AND pcolor = #{pcolor}
                        AND psize = #{psize} )
   </select>

   <select id="selectCartProducts" parameterType="int"
      resultType="CartDTO">
      SELECT cartno, pcolor, psize,
      pamount, mno, pcode
      FROM cart
      WHERE mno = #{mno}
      ORDER BY
      cartno DESC
   </select>
   
   <select id="selectCartProduct" parameterType="int"
      resultType="CartDTO">
      SELECT cartno, pcolor, psize, pcode,
      pamount, mno
      FROM cart
      WHERE cartno = #{cartno}
   </select>

   
</mapper>