<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thehandsome.app.mapper.MemberMapper">
	<select id="isdupluid" parameterType="String" resultType="Long">
		SELECT *
		FROM MEMBER
		WHERE id = #{id}
	</select>
	
	<insert id="joinMember" parameterType="MemberDTO">
		INSERT INTO MEMBER
		(MNO,ID,PASSWORD,EMAIL,NAME,BIRTH,MILEAGE,REGDATE,LASTLOGINDATE,ROLE,AMOUNT)
		VALUES 
		(MEMBER_SEQ.NEXTVAL,#{id},#{password},#{email},#{name},#{birth},0,SYSDATE,SYSDATE,'ROLE_MEMBER',0)
	</insert>
	
	<select id="memberLogin" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT *
		FROM MEMBER
		WHERE id = #{id}
	</select>
	
	<select id="findById" parameterType="String" resultType="MemberDTO">
		SELECT *
		FROM MEMBER
		WHERE id = #{id}
	</select>
	
	<update id="updateMemberMileage" parameterType="MemberDTO">
      UPDATE MEMBER SET MILEAGE = #{mileage} WHERE MNO = #{mno}
   </update>
   <update id="decreaseMemberMileage" parameterType="MemberDTO">
      UPDATE member
      SET
      mileage = CASE WHEN mileage - #{mileage} >= 0 THEN mileage - #{mileage}
      ELSE 0
      END  
      WHERE mno = #{mno}
   </update>
	
	
</mapper>